<!---------------------------------------------------About Content------------------------------------------------>
<!doctype html>
<html>
  <head>
    <title>signin</title>
    <link rel="stylesheet" href="lib/uni.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  </head>
  <body style="margin: 0; border: 0;  display">
    <div id="contenttext">
      <div style ="margin : 30px">
         <br /> <label>หลักการและเหตุผล</label><br />
การบริการผู้ใช้งานบนเครือข่าย UniNet ของสำนักงานบริหารเทคโนโลยีสารสนเทศเพื่อพัฒนาการศึกษา สำนักงานคณะกรรมการการอุดมศึกษา ในช่วงห้าปีที่ผ่านมามีการขยายการให้บริการข้อมูลแก่โครงสร้างการศึกษาของประเทศทั้งระบบ จากการบริการการศึกษาขั้นพื้นฐาน อาชีวศึกษา อุดมศึกษา และการศึกษานอกระบบ ที่จะสามารถครอบคลุมการบริการได้มากกว่า 10,000 จุดบริการ การบริการหลักของ UniNet เป็นการบริการการสืบค้นข้อมูล ให้บริการข้อมูลทางการศึกษาและวิจัยที่มีความหลากหลาย                       ตามความต้องการของผู้ใช้งานในแต่ละระดับ ผู้ใช้งานสามารถรับบริการจาก UniNet ผ่านเครือข่ายภายในขององค์กร ที่ได้รับการควบคุมการใช้งานผ่านระบบ Firewall และระบบควบคุมการใช้งานอินเตอร์เน็ตอื่นๆ ก่อนจะทำการต่อเชื่อมเข้าสู่เครือข่ายกระจายตามจุดบริการของ UniNet ซึ่งเป็นโครงสร้างในการบริหารจัดการเครือข่ายให้สามารถใช้การบริการร่วมกันอย่างมีประสิทธิภาพในมุมมองของผู้ให้บริการ <br /><br />

อย่างไรก็ตามเนื่องจากปัจจุบันมีกลุ่มผู้ใช้งานของสถาบันอุดมศึกษา และหน่วยงานวิจัยระดับประเทศ ที่มีความจำเป็นในการใช้งานเครือข่ายที่มีลักษณะเฉพาะ เช่น ต้องการความสามารถในที่โครงข่ายสามารถการันตีแบนด์วิดท์ ในการส่งผ่านข้อมูลในการทำการประชุมทางไกล หรือต้องการแบนด์วิดท์ที่สูงมากในการส่งผ่านข้อมูลผ่านเครือข่ายความเร็วสูง การใช้งานบริการจากเครือข่ายมีแนวโน้มที่จะเกิดการถ่ายโอนข้อมูลที่มีปริมาณมากขึ้นเป็นทวีคูณ ผู้ใช้บริการบนโครงข่าย UniNet นอกจากที่จะใช้สืบค้นข้อมูลผ่านอินเตอร์เน็ต ที่มีลักษณะเป็นข้อความ รูป และวิดีโอแล้ว การใช้งานมีแนวโน้มที่จะขยายการบริการที่แตกต่างกันออกไปมากขึ้น ที่ต้องการการบริการจากเครือข่ายอันมีลักษณะเฉพาะเช่น ความสามารถในการส่งข้อมูลที่มีการรับรองคุณภาพการบริการขั้นต่ำ หรือ ความสามารถในการถ่ายโอนข้อมูลจำนวนมากๆ ในลักษณะของ Big Data ตัวอย่างเช่น การวินิจฉัยทางการแพทย์หรือปรึกษาทางการแพทย์ทางไกล หรือการศึกษาและใช้เครื่องมือผ่าตัดผ่านบนเครือข่าย ที่ต้องการใช้การสื่อสารทางวิดีโอความละเอียดสูง ที่ต้องการแบนด์วิดท์มากกว่า 30 Mbps ในการส่งข้อมูลในหนึ่งช่องสัญญาณ การบริการโครงข่ายของการใช้งานเครือข่าย UniNet ในลักษณะนี้ จึงจำเป็นต้องมีการบริการพิเศษที่จะสามารถขยายการบริการได้อย่างเป็นรูปธรรม อันจะเป็นการใช้ทรัพยากรโครงข่ายให้ได้ประโยชน์สูงสุด   ประกอบกับลักษณะการทำงานของนักวิจัยในปัจจุบันมีความต้องการเคลื่อนย้ายข้อมูลขนาดใหญ่มากขึ้น สำนักงานบริหารเทคโนโลยีสารสนเทศเพื่อพัฒนาการศึกษา<br /><br />

<label>วัตถุประสงค์</label><br />

1. เพื่อพัฒนาระบบบริการแบนด์วิดท์ตามความต้องการของผู้ใช้งานของ UniNet ในลักษณะของทางด่วนข้อมูล<br />
2. วางกรอบการบริการทางด่วนข้อมูลเชิงบริหารและการจัดการระบบเครือข่าย<br />
3. พัฒนาและทดสอบระบบทางด่วนข้อมูลระหว่างจุดบริการหลักของ UniNet โดยใช้เทคโนโลยี L2 VPN และ ​SDN ขยายการบริการและสร้างความเข้าใจ ต่อการบริการในลักษณะดังกล่าวแก่ผู้ใช้งาน UniNet<br /><br />

จากแนวทางการพัฒนาให้บริการทางด่วนข้อมูลในโครงการนี้เสนอการพัฒนาการให้บริการทางด่วนข้อมูลระหว่างจุดบริการของ UniNet โดยมีองค์ประกอบหลักสามองค์ประกอบ ได้แก่ <br />
1) การพัฒนาระบบเชิงเทคนิคเพื่อบริการทางด่วนข้อมูล <br />
2) การวางกรอบการให้บริการทางด่วนข้อมูลแก่ผู้ใช้งาน UniNet<br />                      3) การตรวจสอบการทำงานและประเมินผลการให้บริการทางด่วนข้อมูล<br /><br />

<label>ประโยชน์ที่คาดว่าจะได้รับ</label><br />

1. สร้างความตระหนักถึงประโยชน์ของการใช้งานเครือข่ายความเร็วสูง แก่ผู้ใช้งาน UniNet เพื่อผลักดันการใช้งานโครงข่ายให้เกิดประโยชน์สูงสุด<br />
2. เกิดองค์ความรู้ในการให้บริการ L2-VPN และ SDN ในการสร้างการบริการเฉพาะกิจสำหรับเครือข่าย UniNet<br />
3. เครือข่าย UniNet สามารถใช้งานที่ได้จากโครงการนี้ ในการเปิดให้บริการ ทางด่วนข้อมูลในอนาคต เพื่อรองรับการใช้งานตามความต้องการของผู้ใช้<br />
4. ความสามารถในการให้บริการระบบจะสามารถบริการได้ที่แบนด์วิดท์สูงสุด 1 Gbps โดยมี แบนด์วิดท์ประสิทธิผลไม่ต่ำกว่า 800 Mbps <br /> <br /> <br />
      </div>
    </div>
  </body>
</html>
