<!---------------------------------------------------Home Page Content------------------------------------------------>
<!doctype html>
<html>
  <head>
    <title>signin</title>
    <link rel="stylesheet" href="lib/uni.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  </head>
  <body style="margin: 0; border: 0; display">
    <div id="contenttext">
      <div style ="padding : 30px">
        &nbsp;&nbsp;&nbsp;การบริการผู้ใช้งานบนเครือข่าย UniNet ของสำนักงานบริหารเทคโนโลยีสารสนเทศเพื่อพัฒนาการศึกษา สำนักงานคณะกรรมการการอุดมศึกษา ครอบคลุมการบริการได้มากกว่า 10,000 จุดบริการ นอกจากการบริการหลักของ UniNet มีกลุ่มผู้ใช้งานของสถาบันอุดมศึกษา และหน่วยงานวิจัยระดับประเทศ ที่มีความจำเป็นในการใช้งานเครือข่ายที่มีลักษณะเฉพาะ เช่น ต้องการความสามารถในที่โครงข่ายสามารถการันตีแบนด์วิดท์ ในการส่งผ่านข้อมูลในการทำการประชุมทางไกล หรือต้องการแบนด์วิดท์ที่สูงมากในการส่งผ่านข้อมูลผ่านเครือข่ายความเร็วสูง การใช้งานบริการจากเครือข่ายมีแนวโน้มที่จะเกิดการถ่ายโอนข้อมูลที่มีปริมาณมากขึ้นเป็นทวีคูณ โดยเฉพาะความสามารถในการถ่ายโอนข้อมูลจำนวนมากๆ ในลักษณะของ Big Data 
 <br />
 <br />
&nbsp;&nbsp;&nbsp;การบริการโครงข่ายของการใช้งานเครือข่าย UniNet ในลักษณะนี้ จึงจำเป็นต้องมีการบริการพิเศษที่จะสามารถขยายการบริการได้อย่างเป็นรูปธรรม อันจะเป็นการใช้ทรัพยากรโครงข่ายให้ได้ประโยชน์สูงสุด โครงการบริการการทางด่วนข้อมูลโดยใช้ระบบ L2 VPN และ SDN บน UniNet มีวัตถุประสงค์เพื่อพัฒนาระบบบริการแบนด์วิดท์ตามความต้องการของผู้ใช้งานของ UniNet ในลักษณะของทางด่วนข้อมูล และวางกรอบการบริการทางด่วนข้อมูลเชิงบริหารและการจัดการระบบเครือข่าย อีกทั้งพัฒนาและทดสอบระบบทางด่วนข้อมูลระหว่างจุดบริการหลักของ UniNet โดยใช้เทคโนโลยี L2 VPN และ ​SDN ขยายการบริการและสร้างความเข้าใจต่อการบริการในลักษณะดังกล่าวแก่ผู้ใช้งาน UniNet</h4><br /> <br /> <br />
      </div>
    </div>
  </body>
</html>
