<!doctype html>
<html>
<head>
    <title>Contact us</title>
    <link rel="stylesheet" href="lib/uni.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body style="margin: 0; border: 0; display">
<head>
</head>

    <div id="contenttext">
      <div style ="margin : 30px">
        <br /><h4 >&nbsp;&nbsp;&nbsp;โครงการบริการการทางด่วนข้อมูลโดยใช้ระบบ L2 VPN และ SDN บนโครงข่ายของสำนักงานบริหารเทคโนโลยสีารสนเทศเพื่อพัฒนาการศึกษา</h4><br />

&nbsp;&nbsp;&nbsp;สำนักงานบริหารเทคโนโลยีสารสนเทศเพื่อพัฒนาการศึกษา<br />
&nbsp;&nbsp;&nbsp;Office of Information Technology Administration for Educational Development<br />
&nbsp;&nbsp;&nbsp;328 ถ.ศรีอยุธยา แขวง ทุ่งพญาไท เขต ราชเทวี กรุงเทพ 10400 โทร. 0 2232 4000 โทรสาร. 0 2354 5678 ต่อ 5012 <br />
&nbsp;&nbsp;&nbsp;E-Mail: xxx@xxxx<br />

<br /> <br /> <br />
      </div>
</div>



</body>
</html>
