<!doctype html>
<html>
<head>
    <title>Documents</title>
    <link rel="stylesheet" href="lib/uni.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body style="margin: 0; border: 0; display">
<head>
</head>

    <div id="contenttext">
      <div style ="margin : 30px">
        <form action="/status" method="post">
        <div class="col-xs-3">
        <h3>วันที่ต้องการแสดงผล :</h3>
        </div>
         <div class="col-xs-2">
         <br>
         <input type="text" class="form-control" name="date_selection"  />
         </div>
          <br>
         <button type="submit" class="btn btn-info btn-md" name="signin" id="signin" value="sign in" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">Search</button>
         <br>
         </form>
          <script type="text/javascript">
            $(function() {
              $('input[name="date_selection"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true
              }, 
              function(start, end, label) {
                //var years = moment().diff(start, 'years');
                //alert("You are " + end + " years old.");
              });
            });
        </script>
       <iframe width="700" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~expresslane03/0.embed"></iframe>
       <iframe width="700" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~expresslane01/0.embed"></iframe>
       <iframe width="700" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~expresslane02/0.embed"></iframe>
       
<br />

<br /> <br /> <br />
      </div>
</div>



</body>
</html>
