<!doctype html>
<html>
<head>
    <title>signin</title>
    <link rel="stylesheet" href="lib/uni.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body style="margin: 0; border: 0; display">
<head>
    <!-- show any messages that come back with authentication -->

    <!-- LOGIN FORM -->  <!-- Trigger the modal with a button -->

  <div id="side"><br />
<div class="panel panel-default">
  <div class="panel-body"><label><font size = "3px"> Sign in as: <%= user.username %></font></label><br /></div>
  <div class="panel-footer"><a href="/signout" class="btn btn-info btn"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> sign out</a> <br /></div>
</div>

        <a href="/profile"><div class="link" style= "margin:20px"><label><font size ="4px">View Profile</font></label></div></a>
<hr>
        <a href="/repass"><div class="link" style= "margin:20px"><label><font size ="4px">Reset Password</font></label></div></a>
<hr>
  </div>
</body>
</html>
