<!doctype html>
<html>
<head>
    <title>signin</title>
    <link rel="stylesheet" href="lib/uni.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body style="margin: 0; border: 0;">
 <div id="menu">
<nav class="navbar navbar-default" role="navigation">

        <ul class="nav navbar-nav" background-color= "#006DA6">
            <li ><a href="/"><font size ="3px">Home</font></a></li>
            <li><a href="/status"><font size ="3px">Status</font></a></li>
            <li><a href="/user"><font size ="3px">User Management</font></a></li>
            <li><a href="/emailmanage"><font size ="3px">Email Management</font></a></li>
            <li><a href="/servicemanage"><font size ="3px">Service Management</font></a></li>
            <li><a href="/document"><font size ="3px">Documents</font></a></li>
        </ul>
</div>
</nav>
</body>
</html>
