<!doctype html>
<html>
<head>
      <title>Sign Up</title>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <link rel="stylesheet" href="lib/uni.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->


      <script>
      function checkForm(form){

        phoneno = /^\+?([0-9]{2})\)?[-]?([0-9]{4})[-]?([0-9]{4})$/;  
        if(!phone.value.match(phoneno)) {  
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Phone must contain only numbers!</strong>";
          //alert("message"); 
          form.phone.focus();
          return false;  
        }  

        mail = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i;
        if(!mail.test(form.email.value)) {
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Email must contain only letters, numbers and underscores!</strong>";
          //alert("Error: Email must contain only letters, numbers and underscores!");
          form.email.focus();
          return false;
        }

        if(form.username.value == "") {
          alert("Error: Username cannot be blank!");
          form.username.focus();
          return false;
        }

        re = /^\w+$/;
        if(!re.test(form.username.value)) {
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Username must contain only letters, numbers and underscores!</strong>";
          //alert("Error: Username must contain only letters, numbers and underscores!");
          form.username.focus();
          return false;
        }

        
        if(form.password2.value != "" ) {
          if(form.password2.value.length < 8) {
            document.getElementById("alert").className = "alert alert-danger";
            document.getElementById('alert').innerHTML = "<strong>Password must contain at least 8 characters!</strong>";
            form.password2.focus();
            return false;
          }
          if(form.password2.value == form.username.value) {
            document.getElementById("alert").className = "alert alert-danger";
            document.getElementById('alert').innerHTML = "<strong>Password must be different from Username!</strong>";
            form.password2.focus();
            return false;
          }
          re = /[0-9]/;
          if(!re.test(form.password2.value)) {
            document.getElementById("alert").className = "alert alert-danger";
            document.getElementById('alert').innerHTML = "<strong>Password must contain at least one number (0-9)!</strong>";
            form.password2.focus();
            return false;
          }
          re = /[a-z]/;
          if(!re.test(form.password2.value)) {
            document.getElementById("alert").className = "alert alert-danger";
            document.getElementById('alert').innerHTML = "<strong>Password must contain at least one lowercase letter (a-z)!</strong>";
            form.password2.focus();
            return false;
          }
          re = /[A-Z]/;
          if(!re.test(form.password2.value)) {
            document.getElementById("alert").className = "alert alert-danger";
            document.getElementById('alert').innerHTML = "<strong>Password must contain at least one uppercase letter (A-Z)!</strong>";
            form.password2.focus();
            return false;
          }
        } else {
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Please check that you've entered and confirmed your password!</strong>";
          form.password2.focus();
          return false;
        }
      }
      </script>

      <script>
      function check_pass() {
        if(document.getElementById('password2').value === document.getElementById('confirm_password2').value) { 
          document.getElementById('message').innerHTML = "<p class='text-danger'></p>";
        } else {
            document.getElementById('message').innerHTML = "<p class='text-danger'>These passwords don't match. Try again?</p>";
            return false;
          }
      }

      function check_email() {
        if(document.getElementById('email').value === document.getElementById('confirm_email').value) {
          document.getElementById('message1').innerHTML = "<p class='text-danger'></p>";
        } else {
            document.getElementById('message1').innerHTML = "<p class='text-danger'>These email don't match. Try again?</p>";
            return false;
          }
      }
      </script>



</head>


<body style="background-color: #006DA6;">
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 nopadding">
<% include ./base %>
</div>
 <div class="col-xs-12 nopadding">
<% include ./menu %>
</div>
<div class="col-xs-2 nopadding"  style="min-width:250px;">
<%include ./signin %>
</div>
<div class="col-xs-10 nopadding">
    <div id="contenttext"> 
      <div style="margin-top: 0;">
        <div class="container">
          <br><br>
          <h1><strong>Register  for  Express  Lane  Sevices<strong></h1>

          <!-- show any messages that come back with authentication -->
          <% if(typeof(errorMessagesu) !== 'undefined') {%>
               <div class="alert alert-danger" id="signup"><%= errorMessagesu %></div>
          <% } %>

          <form action="/signup" method="post" onsubmit="return checkForm(this);">
            <br>
            <br>

               
            <div class="form-group">
              <div id="alert" class="hide" role="alert"></div>
              <div class="col-xs-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required="true">
              </div>
            </div>
            <br><br><br>

          
          
            <div class="form-group">
              <div class="col-xs-3">
                <label for="password">Create a password</label>
                <input type="password" class="form-control" name="password2" id="password2" placeholder="Password"  onchange="check_pass()">
              </div>
            </div>
            <br><br><br>


            <div class="form-group">
              <div class="col-xs-3">
               <label for="con-password">Confirm your password</label>
                <input type="password" class="form-control" name="confirm_password" id="confirm_password2" placeholder="Confirm Password"  onchange="check_pass()">
              </div>
              <br><br>
              <div class="col-xs-4" id='message'></div>
            </div>
            <br>



            <div class="form-group">
              <div class="col-xs-2">
                <label for="first">Firstname</label>
                <input type="text" class="form-control" name="NameE" id="NameE" placeholder="Firstname" required="true">
              </div>
            </div>
            <br><br><br>


            <div class="form-group">
              <div class="col-xs-3">
                <label for="last">Lastname</label>
                <input type="text" class="form-control" name="LastNameE" id="LastNameE" placeholder="Lastname" required="true">
              </div>
            </div>
            <br><br><br>



            <div class="form-group">
              <div class="col-xs-3">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Email" required="true" onchange="check_email();">
              </div>
            </div> 
            <br><br><br>


            <div class="form-group">
              <div class="col-xs-3">
                <label for="con-email">Confirm your email</label>
                <input type="text" class="form-control" name="confirm_email" id="confirm_email" placeholder="Confirm Email" required="true" onchange="check_email();">
              </div>
              <br><br>
              <div class="col-xs-4" id='message1'></div>
            </div>
            <br>


            <div class="form-group">
              <div class="col-xs-2">
                <label for="phone">Phone number</label>
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone number" required="true">
              </div>
            </div>
            <br><br><br>



            <div class="form-group">
              <div class="col-xs-5">
                <label for="org">Organization</label>
                <select name="org" class="form-control" title="Organization" required>
                  <option value="">Please Select</option>
                  <option value="1">Burapha University</option>
                  <option value="2">Chiang Mai University</option>
                  <option value="3">Chulalongkorn University</option>
                  <option value="4">Kasetsart University</option>
                  <option value="5">Khon Kean University</option>
                  <option value="6">King Mongkut's Institute of Technology Ladkrabang</option>
                  <option value="7">King Mongkut's University of Technology North Bangkok</option>
                  <option value="8">King Mongkut's University of Technology Thonburi</option>
                  <option value="9">Mae Fah Luang University</option>
                  <option value="10">Maejo University</option>
                  <option value="11">Mahasarakham University</option>
                  <option value="12">Mahidol University</option>
                  <option value="13">Nakhon Phanom University</option>
                  <option value="14">Naresuan University</option>
                  <option value="15">Prince of Songkla University</option>
                  <option value="16">Princess of Naradhiwas University</option>
                  <option value="17">Silpakorn University</option>
                  <option value="18">Srinakharinwirot University</option>
                  <option value="19">Suranaree University of Technology</option>
                  <option value="20">Thaksin University</option>         
                  <option value="21">Thammasat University</option>
                  <option value="22">Ubon Ratchathani University</option>
                  <option value="23">University of Phayao</option>
                  <option value="24">Walailak University</option>  
                </select>
              </div>
            </div>
            <br><br><br>

            <div class="form-group">
            <div class="col-xs-5">
            <label for="note">Note</label>
              <textarea name="message" class="form-control" rows="4" cols="30" placeholder="message"></textarea>
            </div>
            </div>
            <br><br><br><br><br><br>

            <div class="form-group">
              <div class="col-xs-4">
              <br><button type="submit" class="btn btn-primary btn-lg">Signup</button> 
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
</div>


<div class="col-xs-12 nopadding">

<%include ./footer %>
  </div>
</div>
  </div>
</body>
</html>
