<!doctype html>
<html>
<head>
    <title>signin</title>
    <link rel="stylesheet" href="lib/uni.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body style="margin: 0; border: 0; display">
<head>
</head>

  <div id="side">
<br />
<div class="panel panel-default">
  <div class="panel-body"><label> <font size ="5px">Sign in</font></label>

  <div class="panel-footer"><form action="/signin" method="post">
        <div class="form-group">       <% if(typeof(errorMessage) !== 'undefined') {%>
            <div style= "margin:0px auto" class="alert alert-danger" id="signin"><strong><%= errorMessage %></strong></div><br>
       <% } %>
            <label style = "float : left; margin-right:10px;"><font size = "3px">  Username: <span> </span></font></label> <input style= "; width:50%; height:30px;" type="text" class="form-control" name="username"  id="username" placeholder="username" required="true"><br>

            <label style = "float : left; margin-right:10px;"><font size = "3px">  Password: <span> </span></font></label> <input style= "; width:50%; height:30px;" type="password" class="form-control" name="password" id="password" placeholder="password" required="true">
</div>
<button type="submit" class="btn btn-info btn-md" name="signin" id="signin" value="sign in" ><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> sign in</button></form>
</div>
</div>

</div>


<a href="/signup"><div class="link" style= "margin:20px"><label><font size ="4px">Sign Up</font></label></div></a>
<hr>
<a href="/repass"><div class="link" style= "margin:20px"><label><font size ="4px">Forget Password?</font></label></div></a>
<hr>
  </div>




</body>
</html>
