<!doctype html>
<html>
<head>
    <title>Status</title>
    <link rel="stylesheet" href="lib/uni.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body style="background-color: #006DA6;">
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 nopadding">
<% include ./base %>
</div>
 <div class="col-xs-12 nopadding">
<% if(!req.isAuthenticated()) { %>
                        <% include ./menu %>
       <% }else{ %>
          <% if(user.role===1){%>
            <% include ./menuadmin %>
          <%}else{ %>
            <% include ./menumem %>       
       <% } %>
<% } %>
</div>
<div class="col-xs-2 nopadding"  style="min-width:250px;">
<% if(!req.isAuthenticated()) { %>
                        <% include ./signin %>
       <% }else{ %>
          <% if(user.role===1){%>
            <% include ./admin %>
          <%}else{ %>
            <% include ./member %>       
       <% } %>
<% } %>
</div>
<div class="col-xs-10 nopadding">
<% if(!req.isAuthenticated()) { %>
      <% include ./statuscontent_user %>
  <% }else{ %>
      <% if(user.role===1){%>
          <% include ./statuscontent %>
    <% }else{ %>
          <% include ./statuscontent_user %>
    <% }%>
<% } %>  
</div>
</div>
<div class="col-xs-12 nopadding">
<%include ./footer %>
</div>
</div>
</body>
</html>
